* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', sans-serif;
}

.App {
  margin: 5px;
  width: 100%;
  display: flex;
}
.sidebar {
  border-radius: 6px;
    background: #f3f4f6;
    border: 2px solid #acbbda;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 125px;
}

.content {
  width: 100%;
  padding: 20px;
}

.add {
  display: block;
    width: fit-content;
    background: #646cff;
    color: white;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.add:hover {
  color: white;
}

.add-button {
  background: #646cff;
}


.controls > *{
  margin-left: 10px;
  cursor: pointer;
  color: #646cff;
}

.radios > *{
  margin-right: 5px;
}
